body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    min-height: 100%;
    height: 100%;
}

.header {
    overflow: hidden;
    height: 70px;
    opacity:0.95;
    position: fixed;
    z-index: 999;
}
.header nav{
    background-color: #1f2f3c;
    font-size: 16px;
}
.right-header-nav {
    margin-right: 10px;
}
.right-header-nav li a{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}
.rigth-header-nav .down{
    bottom: -20px;
}
.bgimg {
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size:cover;
    position: relative; 
    width:100%; 
    height:100%; 
    left:0px;
    top:0px;
    padding-left: 0px!important;
    padding-right: 0px!important;
    overflow: hidden;;
}
.nobgimg{
    /*position:fixed; */
    width:100%; 
    height:100%; 
    left:0px;
    top:0px;
}

.centerContent {
    min-height: 300px;
    padding-top: 30px;
    width:70%;
    margin:0 auto;
    margin-top: 80px;
    overflow: hidden;
}
.common {
    padding-top: 30px;
    position:relative;
    width:70%;
    margin:0 auto;
    margin-top : 50px;
    margin-bottom: 150px;
}

.opacity90 { /* 90% opaque */
    opacity:0.90;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=90)";
    filter:alpha(opacity=90);
    zoom:1
}
.hidden {
    display: none;
}
.account-center-appear {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.accoutn-center-appear.account-center-appear-active {
  opacity: 1;
}
.footer{
    width: 100%;
    bottom: 0px;
    right: 0px;
    padding-top: 60px;
    overflow: hidden;;
}
.footer .footer-cover{
    background: url(../img/footer_bg.png) no-repeat center center;
    background-size:cover;
    width:100%; 
    left:0px;
}
.footer .footer-cover .center {
    padding-top: 0px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
    text-align: center;
    overflow: hidden;
}
.footer .footer-cover .center div{
    padding-top: 20px;
    color: #eaeaea;
}

.footer .line {
    height: 1px;
    background-color: #eaeaea;
}
.footer .footer-bar{
    background-color: #1f2f3c;
    height: 70px;
    bottom: 0px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer .footer-bar .footer-code{
    margin-right: 10px;
    float: left;
}
.footer .footer-bar .footer-info{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}
.footer .footer-bar .footer-info span{
    font-size: 120%;
    margin-right: 5px;
    margin-left: 5px;
}
.image-item {
    height: 80px;
    width: 80%;
    margin-top: 10px;
    background-color: #eaeaea;
}
.image-item .move-button {
    float: left;
    width: 10%;
    padding-top: 22px;
    padding-right: 20px;
    padding-left: 20px;
}
.image-item .main-image {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.image-item .main-des {
    float: left;
    width: 70%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.image-item .main-des textarea{
    width: 100%;
    height: 60px;
}
.image-item .delete-button {
    float: right;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 30px;
    text-align: center;
    height: 100%;
    width: 30px;
    font-size: 16px;

}
.image-button {
    cursor:pointer;
}