{
  "extends": "eslint-config-airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    semi: [2, "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
  },
}
